<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.darach.irishraillivedepartures">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="eu.darach.irishraillivedepartures.ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="eu.darach.irishraillivedepartures.ui.trains.TrainsActivity" />
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="0b429b0b6d2f2d6f3c135c18fc543663c3dcdc39" />
    </application>

</manifest>